
    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef" width="85%">
      <tbody>
        <td bgcolor="#ff6600">
          <table style="padding:0px" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="https://news.ycombinator.com">
                    <img src="y18.gif" style="border:1px #ffffff solid;" width="18" height="18">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;">
                  <span style ="font-family: Verdana, Geneva, sans-serif; font-size: 10pt; color: #222222;">
                    <b>Submit</b>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tbody>
    </table>


<%= render 'form', submit: @submit %>

<%= link_to 'Back', submits_path %>
